/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank
$bad-color: #3a4750 !default;
$text-color: #000 !default;
$menu-color: #252a34;
$accent-color: #00adb5 !default;
$background-color: #fff !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
$navicon-content-bg: #252a34;